
body {
	color: #000;
	background: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.6;

	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: #000;
	color: #fff;
}

.all {
	width: 100vw;
	display: grid;
	place-items: center;
	height: 100vh;
}

.container {
	width: 800px;
	display: grid;
	grid-template: 1fr 0.2fr 0.2fr / 1fr 1fr;
	overflow: hidden;
	position: relative;
	gap: 15px;
}

.container > div {
	background: #f5f5f7;
	border-radius: 20px;
}

.name-age {
	padding: 50px;
	z-index: 2;
	position: relative;
	grid-row: 1 / 4;
}

.counter {
	color: #ccc;
	display: inline-block;
	font-size: 14px;
}

h1 {
	font-size: 2.5em;
	line-height: 1;
	font-weight: bold;
	word-spacing: -2px;
	letter-spacing: -1px;
}

.age-job {
	font-size: 1.5em;
	line-height: 1.6;
	word-spacing: -1px;
	letter-spacing: -2px;
	color: #aaa;
}

.memoji {
	width: 100%;
	padding: 3em 0;
}

.memoji img {
	position: relative;
	width: 100%;
	object-fit: fill;
}

.about {
	padding: 0;
	position: relative;
}










.links {
	padding: 50px;
	grid-row: 3 / 3;
	grid-column: 2 / 2;
	display: grid;
	align-items: center;
}

.links-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links-left ul {
	display: flex;
	gap: 30px;
}

.links-right span {
	display: block;
	width: 75px;
	height: 13px;
	border-radius: 50px;
	background: #000;
}

.links-left a:hover {
	text-decoration: underline;
}










.skills {
	padding: 50px;
	grid-row: 1 / 1;
	grid-column: 2 / 2;
	display: grid;
	font-size: 1.3em;
	position: relative;
	overflow: hidden;
}

.skills i {
	font-style: normal;
	position: relative;
	padding-left: 28px;
	font-weight: 500;
}

.skills i::before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	background-size: 100%;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.skills i.figma {
	color: #5551FF;
}

.skills i.figma::before {
	background-image: url('../img/brand-figma.svg');
}

.skills i.sketch {
	color: #ff7843;
}

.skills i.sketch::before {
	background-image: url('../img/brand-sketch.svg');
}

.skills i.framer {
	color: #09f;
}

.skills i.framer::before {
	background-image: url('../img/brand-framer.svg');
}

.skills i.css {
	color: #2c4bdd;
}

.skills i.css::before {
	background-image: url('../img/brand-css3.svg');
}

.skills i.html {
	color: #d45732;
}

.skills i.html::before {
	background-image: url('../img/brand-html5.svg');
}

.skills i.wp {
	color: #3f57e0;
}

.skills i.wp::before {
	background-image: url('../img/brand-wordpress.svg');
}

.cursor {
	position: absolute;
	width: 150%;
	bottom: -10px;
	height: auto;
	right: -300px;
	animation: cursor 10s linear 0s infinite normal both;
}

.cursor svg {
	display: block;
	width: 100%;
	height: auto;
}

@keyframes cursor {
	0% { transform: translate3d(0, 0, 0); }
	25% { transform: translate3d(-20px, 0, 0); }
	50% { transform: translate3d(-20px, 20px, 0); }
	75% { transform: translate3d(20px, -20px, 0); }
	100% { transform: translate3d(0, 0, 0); }
}










.container > div.works {
	overflow: hidden;
	position: relative;
	grid-column: 2 / 2;
	grid-row: 2 / 2;
	display: grid;
	gap: 3px;
	background: #f5f5f7;
	padding: 15px;
}

.works-inner {
	position: relative;
	margin: 0 auto;
	display: flex;
	gap: 10px;
	width: 100%;
	align-items: center;
}

.works-inner.works-inner-a {
	animation: marquee-a 240s linear 0s infinite normal both;
}

@keyframes marquee-a {
	0% { left: 0; }
	50% { left: -100%; }
	100% { left: 0; }
}

.works-item {
	margin: 0;
	position: relative;
	display: flex;
	align-items: center;
	background: #fff;
	padding: 0 15px 0 20px;
	border-radius: 100px;
	height: 60px;
	justify-content: space-between;
	width: 300px;
}

.works-item span {
	display: block;
}

.works-item .work-title {
	font-size: 1em;
	font-weight: normal;
}

.active-years {
	font-size: 0.7em;
	background: #A6A90F;
	color: #fff;
	border-radius: 50px;
	padding: 3px 7px;
	letter-spacing: -1px;
	font-weight: bold;
}













/* DARK THEME */
@media (prefers-color-scheme: dark) {
	body {
		color: #fff;
		background: #050210;
	}

	.container > div, .container > div.works {
		background: #0d0b15;
	}

	.works-item {
		background: #1b1828;
	}

	.links-right span {
		background: #fff;
	}
}










/* MOBILE VERSION */
@media screen and (max-width: 800px) {
	.all {
		height: auto;
		padding: 15px 0;
	}

	.container {
		width: calc(100% - 30px);
		display: grid;
		grid-template: auto / 1fr;
		overflow: hidden;
		position: relative;
		gap: 15px;
	}

	.name-age {
		grid-row: 1 / 1;
		grid-column: 1 / 1;
	}

	.container > div.works {
		grid-column: 1 / 1;
		grid-row: 2 / 2;
	}

	.skills {
		grid-row: 3 / 3;
		grid-column: 1 / 1;
		padding-bottom: 250px;
	}

	.links {
		grid-row: 4 / 4;
		grid-column: 1 / 1;
	}

	.cursor {
		position: absolute;
		width: 150%;
		bottom: -10px;
		height: auto;
		right: -300px;
		animation: cursor 10s linear 0s infinite normal both;
	}
}










/* LARGE VERSION */
@media screen and (min-width: 920px) {
	
}