@media (prefers-color-scheme: light) {
	:root {
		--grey: #ccc;
		--main: #000;
		--secondary: #888;
		--bg: #fff;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--grey: #555;
		--main: #fff;
		--secondary: #bbb;
		--bg: #222;
	}
}

html {
	touch-action: manipulation;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--main);
    background: var(--bg);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.all {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	position: relative;
	overflow: hidden;
}

.wrapper {
	width: 600px;
	padding: 0;
	border: 1px solid var(--grey);
	background: var(--bg);
}




.top {
	border-bottom: 1px solid var(--grey);
}

.top-inner {
	display: grid;
	gap: 0;
	align-items: center;
	justify-content: space-between;
	grid-template: auto / 1fr 140px;
}

.pic-and-name {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 30px;
}

h1 {
	font-size: 28px;
	letter-spacing: -1px;
}

.h1-support {
	font-size: 20px;
	color: var(--secondary);
	padding: 5px 0 0;
	display: inline-block;
	font-weight: 300;
}

.pic {
	border-radius: 100%;
	overflow: hidden;
}

.availability {
	height: 100%;
	display: grid;
	place-items: center;
	border-left: 1px solid var(--grey);
	position: relative;
}

.availability::before {
	background-color: var(--bg);
	opacity: 0.1;
	background-image: repeating-linear-gradient( -45deg, var(--main), var(--main) 2px, var(--bg) 2px, var(--bg) 10px );
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
}

.availability-inner {
	display: grid;
	justify-items: center;
}

.availability span {
	display: block;
	text-align: center;
	width: 100px;
}

.availability-inner span.dot {
	width: 12px;
	height: 12px;
	background: #EE2611;
	border-radius: 100%;
	box-shadow: 0 0 0 0 rgba(238, 38, 17, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.availability span:last-child {
	color: var(--secondary);
	margin: 10px 0 0;
	font-size: 14px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(238, 38, 17, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(238, 38, 17, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(238, 38, 17, 0);
	}
}








.about {
	border-bottom: 1px solid var(--grey);
	padding: 30px;
}

.about p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
	word-spacing: -1px;
}










.jobs-skills {
	display: grid;
	grid-template: auto / 1fr 1fr;
	border-bottom: 1px solid var(--grey);
}

.jobs {
	padding: 30px;
}

.jobs ul {
	display: grid;
	gap: 25px;
}

.jobs ul li {
	display: flex;
	align-items: center;
	gap: 10px;
}

.jobs ul li span:first-child {
	font-size: 12px;
	font-weight: bold;
	color: #EEC911;
	width: 40px;
	display: inline-block;
	text-align: center;
}

.jobs ul li span:last-child {
	font-size: 18px;
}





.skills {
	padding: 30px;
	border-left: 1px solid var(--grey);
}

.skills ul {
	display: grid;
	gap: 25px;
}

.skills ul li {
	display: flex;
	align-items: center;
	gap: 10px;
}

.skills ul li span:first-child {
	font-size: 12px;
	font-weight: bold;
	color: #36EE11;
	width: 40px;
	display: inline-block;
	text-align: center;
}

.skills ul li span:last-child {
	font-size: 18px;
}








.contact {
	border-bottom: 1px solid var(--grey);
}

.contact-inner {
	padding: 30px;
}

.contact ul {
	display: flex;
	gap: 30px;
}

.contact ul li a {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contact ul li a span:last-child {
	font-size: 18px;
}









.footer {
	padding: 30px;
}

.footer-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer .birth {
	font-size: 16px;
}

.footer .circle {
	display: inline-block;
	width: 11px;
	height: 11px;
	border: 1px solid var(--main);
	background: var(--bg);
	border-radius: 100%;
}









@media screen and (max-width: 600px){
	.wrapper {
		width: 100%;
		padding: 0;
		border: none;
	}

	.top-inner {
		display: block;
	}

	h1 {
		font-size: 25px;
	}

	.h1-support {
		font-size: 19px;
	}

	.availability {
		height: auto;
		display: block;
		border-left: none;
		border-top: 1px solid var(--grey);
		padding: 30px;
	}

	.availability-inner {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.availability span {
		display: initial;
		text-align: left;
		width: auto;
	}

	.availability span:last-child {
		color: var(--secondary);
		margin: 0;
		font-size: 14px;
	}

	.jobs-skills {
		display: block;
	}

	.skills {
		padding: 30px;
		border-left: none;
		border-top: 1px solid var(--grey);
	}
}









@media (prefers-color-scheme: dark) {
	.contact ul li a path {
		fill: #fff;
	}
}