
:root {
    --orange: #fb5600;
    --white: #fff;
    --black: #000;
    --cream: #F7EAD1;
    --choco: #412120;
    --blue: #0700EE;
    --slight-blue: #DFDEFF;
    --green: #59FF26;
}

[data-framer-name="orange"] p > a.framer-text {
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: var(--orange);
        transition: all 0.2s cubic-bezier(0.78, 0, 0.22, 1);
        transform: translate(-50%, -50%);
    }

    &:hover {
        color: var(--cream);

        &::after {
            height: 110%;
            z-index: -1;
            bottom: 50%;
            width: 110%;
            transform: translate(-50%, 50%);
        }
    }
}


[data-framer-name="blue"] p > a.framer-text {
    position: relative;
    display: inline-block;
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.78, 0, 0.22, 1);

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -3px;
        left: 50%;
        background-color: var(--white);
        transition: all 0.2s cubic-bezier(0.78, 0, 0.22, 1);
        transform: translate(-50%, 0);
    }

    &:hover {
        color: var(--white);
        transition: all 0.2s cubic-bezier(0.78, 0, 0.22, 1);
        transform: scale(0.9);

        &::after {
            height: 3px;
            z-index: -1;
            bottom: -5px;
            width: 50%;
            transition: all 0.2s cubic-bezier(0.78, 0, 0.22, 1);
        }
    }
}




[data-framer-name="gum"] p > a.framer-text {
    position: relative;
    display: inline-block;
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.78, 0, 0.22, 1);

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: var(--white);
        transition: all 0.2s cubic-bezier(0.78, 0, 0.22, 1);
        transform: translate(-50%, -50%) scale(0);
        z-index: -1;
        transform-origin: center;
    }

    &:hover {
        color: var(--white);
        transition: all 0.2s cubic-bezier(0.78, 0, 0.22, 1);
        transform: scale(1);

        &::after {
            height: 100%;
            top: 50%;
            left: 50%;
            width: 100%;
            transition: all 0.2s cubic-bezier(0.78, 0, 0.22, 1);
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

